[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "vendor/symfony-console"]
	path = vendor/symfony-console
	url = git://github.com/symfony/Console
[submodule "vendor/symfony-yaml"]
	path = vendor/symfony-yaml
	url = git://github.com/symfony/Yaml
