<?xml version="1.0"?>
<psalm
    errorLevel="5"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorBaseline="psalm-baseline.xml"
>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <file name="src/Form/Element/ObjectMultiCheckboxV2Polyfill.php" />
            <file name="src/Form/Element/ObjectRadioV2Polyfill.php" />
            <file name="src/Form/Element/ObjectSelectV2Polyfill.php" />
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <DuplicateClass>
            <errorLevel type="suppress">
                <!-- These files contain a php 7 and a php 8 version of the same trait -->
                <file name="src/GetConsoleUsage.php"/>
            </errorLevel>
        </DuplicateClass>
    </issueHandlers>
</psalm>
